<nav>
    <div class="site-title">
        <a href="/"><h1>TEAM 7!!!</h1></a>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blarg">New Blarg</a></li>
    </ul>
</nav>