<nav>
    <div class="site-title">
        <h1>Learn School</h1>
    </div>
    <img src="public/assets/logo.jpg" height="50px" width="50px" alignment="right">
    <div id="nav">
    <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/loginDashboard">Login</a></li>
            <li><a href="/comment">Comment</a></li>
        </ul>
    </div>
</nav>
<!--        <li><a href="/studentHome">Student</a></li>
        <li><a href="/teacherHome">Faculty</a></li>-->