<html>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <p>MUCH AFRAID!  WHERE GOING? Why this happen?  What 404 mean?</p>
    <%- include('./partials/foot.ejs') %>
</body>
</html>