<html>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <p>You are lost...</p>
    <img src = "./public/assets/AreYouLost.bmp">
    <%- include('./partials/foot.ejs') %>
</body>
</html>