<html>
    <%- include('./partials/head.ejs') %>
    <link rel="icon" type="public/x-icon" href="/public/wembley.ico">
<body>
    <%- include('./partials/nav.ejs') %>
    <p>You are lost...</p>
    <img src = "../public/assets/AreYouLost.bmp">
    <%- include('./partials/foot.ejs') %>
</body>
</html>