<html>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h2>About Us</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, maiores.</p>
    <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, laudantium enim recusandae veritatis eveniet consequatur sapiente iusto, nostrum temporibus dicta officia explicabo cupiditate ut vero quaerat at tempore optio nobis quae assumenda mollitia, esse beatae ratione suscipit! Soluta sed odit eum suscipit modi, aperiam illum officia accusantium distinctio eaque aspernatur.</small>
    <br>//this will load a template of the course search page which is public and with no DELETE/ADD/CREATE functionality enabled
    <br>//it just lists all courses and you can click on it for an indepth description (maybe overdoing the project with that last bit)
    <%- include('./partials/foot.ejs') %>
</body>
</html>