<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div id="wrap">
    //submit form with UN and Password<br>
    //either to studentHome.ejs or teacherHome.ejs
    </div>
    <%- include('./partials/foot.ejs') %>
</body>
</html>