<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div id="wrap">
    //submit form with UN and Password to function with access to mongoDB and then get redirected in app.js<br>
    //either to studentHome.ejs or teacherHome.ejs
    //call the script that will GET from mongoDB to check if UN/PW combination exists and go to appropriate Home page as a landing
    </div>
    <%- include('./partials/foot.ejs') %>
</body>
</html>