<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div id="wrap">
        <div class="create-comment content">
            <form action="/loginDashboard/:unpw" method="GET">
                <label for="userName">User Name:</label>
                <input type="text" id="userName" name="userName" required>
                <label for="passWord">Password:</label>
                <input type="text" id="passWord" name="passWord" required>
                <button>Login</button>
            </form>
        </div>
    </div>
    <%- include('./partials/foot.ejs') %>
</body>
</html>