/*reference material that probably breaks everything*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
    body{
      max-width: 1200px;
      margin: 20px auto;
      padding: 0 20px;
      font-family: 'Noto Serif', serif;
      max-width: 1200px;
    }
    p, h1, h2, h3, a, ul{
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: #222;
    }

    /* nav & footer styles */
    nav{
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
      text-transform: uppercase;
    }
    nav ul{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    nav li{
      list-style-type: none;
      margin-left: 20px;
    }
    nav h1{
      font-size: 3em;
    }
    nav p, nav a{
      color: #777;
      font-weight: 300;
    }
    footer{
      color: #777;
      text-align: center;
      margin: 80px auto 20px;
    }
    h2{
      margin-bottom: 40px;
    }
    h3{
      text-transform: capitalize;
      margin-bottom: 8px;
    }
    .content{
      margin-left: 20px;
    }

    /* index styles */
    .comments a{
      display: block;
      margin: 40px 0;
      padding-left: 30px;
      border-left: 6px solid crimson;
    }
    .commentss a:hover h3{
      color: crimson;
    }

    /* details styles */
    .details{
      position: relative;
    }
    .delete{
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      padding: 8px;
    }
    .delete:hover{
      cursor: pointer;
      box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    }
    .edit{
      position: absolute;
      top: 0;
      right: 70;
      border-radius: 50%;
      padding: 8px;
    }
    .edit:hover{
      cursor: pointer;
      box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    }
    .editform{
      display: none;
    }
    .saySomeLink{
      float: right;
      border-radius: 50%;
      padding: 12px;
      text-shadow: #4F6D93;
      outline-width: 1cap;
      border-color: #4F6D93;
      box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    }
    .saySomeLink:hover{
      cursor: pointer;
      box-shadow: 2px 3px 4px rgba(0,0,0,0.2);
    }
    .saysomethin{
      display: none;
    }
    /* create styles */
    .create-comment form{
      max-width: 400px;
      margin: 0 auto;
    }
    .create-comment input,
    .create-comment textarea{
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 8px;
    }
    .create-comment label{
      display: block;
      margin-top: 24px;
    }
    textarea{
      height: 120px;
    }
    .create-comment button{
      margin-top: 20px;
      background: crimson;
      color: white;
      padding: 6px;
      border: 0;
      font-size: 1.2em;
      cursor: pointer;
    }
/**end breaking reference material***/

/*****************************************/
/*Stylesheet for website*/

body {
    color: #666666;
    background-color: #4F6D93;
    background-image: linear-gradient(to bottom, #FFFFFF, #4F6D93);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/*wrapper tag for webpages*/ 
#wrap {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: white;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px 3px #333333;
}

/*header bar accross top of website*/
header {
    background-color: #003006;
    color: #FFFFFF;
    background-image: url(logo.jpg);
    background-position: right;
    background-repeat: no-repeat;
    text-align: center;
    
    height: 60px;
    padding-top: 15px;
    font-family: 'Courier New', monospace;
    font-weight: 400;
}

/*Navigation bar*/
#nav {
    background-color: green;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}
#nav li{margin: 20px;display: inline}
#nav ul {
    padding-bottom: 15px;
    margin: 0;
    list-style-type: none;
    font-size: 1.2em;
}
nav a{color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 10px;}
nav a:link {color: #ffffff;}
nav a:visited {color: #ffffff;}
nav a:hover {color: black;background-color: #ddd;}
nav a.active{color:black;background-color: #3399CC;}
.hlink {
    text-decoration: none;
    color: #F4F4F4;
}
.hlink a:link {color:#F4F4F4}
.hlink a:visited {color:#F4F4F4}
/*Navigation bar end*/